extends layout.pug

//- This pug template tells my story of becoming a software developer, renders a list of my skills, and 
//- provides links to my online presence on Twitter, Github, and LinkedIn.

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Cam Riemensnider
        p.lead.text-light
          | Masters in Computer and Information Technology Candidate

        .portfolio-bio
          p
            | My journey to becoming a software engineer began in a non-traditional environment: law school. While at Washington University in St. Louis School of Law, I focused a great deal of my legal education on startups and intellectual property. Learning about technology in the context of emerging growth companies got me interested in software development. 
            br
            br
            | From there, I decided to begin transitioning into a software engineering role by way of a career in legal recruiting. Legal recruiting gave me the freedom to take on side projects and begin aquiring a full-stack web development skillset before beginning my masters studies at UPenn.
            br
            br
            | I began pursuing my Masters in Computer and Information Technology at UPenn in Fall 2020. I decided to pursue a formal degree to expand my technical skillset to include not only web development, but also systems engineering, networking, machine learning, and more. 
            br
            br
            | I'm currently searching for software engineering internship opportunities to supplement my learning at Penn. To get a feel for my capabilities, please check out some of the projects I've completed as displayed on this site, or feel free to visit my Github to see a full list of projects! 
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Java
          li C
          li JavaScript
          li HTML 
          li CSS
          li Python
          li Node.js
          li APIs
          li Express
          li JSON
          li AJAX
          li Git/Version Control
          li Regular Expressions
          li jQuery
          li Pug/Template Rendering

        h6 Contact Info
        ul
          li (816)-799-1824
          li camriem@seas.upenn.edu

        a.button.expanded(href='https://www.linkedin.com/in/camriemensnider/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/criemensnider' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/camriemensnider' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  