extends layout.pug

//- This pug template tells my story of becoming a software developer, renders a list of my skills, and 
//- provides links to my online presence on Twitter, Github, and LinkedIn.

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Cam Riemensnider
        p.lead.text-light
          | Software Engineer IV at Stack Moxie

        .portfolio-bio
          p
            | My journey to becoming a software engineer began in a non-traditional environment: law school. While at Washington University in St. Louis School of Law, I focused a great deal of my legal education on startups and intellectual property. Learning about technology in the context of emerging growth companies got me interested in software development. After passing the California Bar Exam, I resolved to gain a software development skillset.
            br
            br
            | I began my transition into a software engineering role by way of a career in legal recruiting. Legal recruiting gave me the freedom to take on side projects and begin aquiring a full-stack web development skillset before beginning my masters studies at UPenn.
            br
            br
            | I started pursuing my Masters in Computer and Information Technology at UPenn in Fall 2020. I decided to pursue a formal degree to expand my technical skillset to include not only web development, but also systems engineering, networking, machine learning, and more. 
            br
            br
            | In my current role at Stack Moxie, I'm helping to build an enterprise-grade, web-hook-based, no-code testing application for marketing professionals. While at Stack Moxie, I build entirely new features for the application that are deployed to consumers of the application. I have also contributed to product development, working closely with the founder and head of technology to come up with new features and how they will be implemented in the application for the best possible user experience. To get a feel for my capabilities, please check out some of the side projects I've completed as displayed on this site, visit my Github, or check out Stack Moxie! 
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Java
          li C
          li HTML 
          li CSS
          li Python
          li React.js
          li Vue.js 
          li Sails.js 
          li Waterline/SQLize ORMs
          li Node.js
          li Bootstrap
          li APIs
          li Express.js
          li AJAX
          li Git/Version Control
          li jQuery
          li Templating/EJS/Pug

        h6 Contact Info
        ul
          li (816)-799-1824
          li camriem@seas.upenn.edu

        a.button.expanded(href='https://www.linkedin.com/in/camriemensnider/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/criemensnider' target='_blank') GitHub
        a.button.expanded(href='https://www.stackmoxie.com' target='_blank') Stack Moxie
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  