extends layout.pug

//- This pug template tells my story of becoming a software developer, renders a list of my skills, and 
//- provides links to my online presence on Twitter, Github, and LinkedIn.

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Cam Riemensnider
        p.lead.text-light
          | Associate Product Manager at Ontra

        .portfolio-bio
          p
            | I’m a product manager and attorney who brings my utmost to every project I work on. Throughout my career, I’ve gained a vast array of technical and business competencies that I employ to build features that will delight users. 
            br
            br
            | I currently work as an associate product manager at Ontra, building the future of AI in the legal industry. Prior to my time at Ontra, I worked as an engineer with Stack Moxie, an enterprise-grade solution for automated testing of marketing operations tech stacks.
            br
            br
            | Working as a software engineer with Stack Moxie, I quickly proved myself to be capable of managing large-scale projects independently. In my time with the company, I shipped three entirely new, full-stack features on which I handled all aspects of development. In my development work, I combine a commitment to strong technical foundations, a focus on excellent user experience, and a passion for clean design to craft features that have scaled to serve all Stack Moxie’s clients, from small startups to enterprise-grade giants. 
            br
            br
            | In addition to the native features I developed for Stack Moxie, I also developed integrations with partners including Salesforce, Amplitude, and others. To achieve seamless integrations, I worked hand-in-hand with outside development teams at other companies, utilizing my communication skills to provide the projects with direction and effectively convey technical requirements to outside teams. The integrations I developed brought partners’ features into the Stack Moxie ecosystem and integrated Stack Moxie’s testing functionalities into other applications. 
            br
            br
            | I also assisted in managing the cloud infrastructure on which Stack Moxie runs. I handled several aspects of our migration from AWS to Azure including creating the CI/CD process, configuring deployment pipelines, migrating to Azure Service Bus, and preparing to migrate fully onto an Azure-hosted regime instead of Heroku in the future. 
            br
            br
            | Prior to becoming an engineer, I attained my law degree from Washington University in St. Louis and worked as a legal consultant for firms and startups specifically on issues around data privacy, including GDPR and CCPA, corporate formation, and regulatory and compliance issues. I maintain an active California Bar license. 
            br
            br
            | In my free time I’m an avid runner and reader, dog dad to Koda (a black labradoodle), fiancé to Lucas, and love to play videogames. To get a feel for my capabilities, please check out some of the projects I've completed as displayed on this site or visit my Github!
            
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Java
          li C
          li Swift
          li Python
          li React.js
          li Vue.js 
          li Sails.js 
          li Node.js
          li Express.js
          li Object-Relational Mapping
          li Data Modeling 
          li SQL/MySQL
          li Microsoft Azure Cloud
          li Segment 
          li Amplitude
          li REST APIs
          li Git/Version Control
          li Templating/EJS/Pug
          li HTML/CSS
          li Bootstrap

        h6 Contact Info
        ul
          li Phone Available on Request
          li camriem@seas.upenn.edu

        a.button.expanded(href='https://www.linkedin.com/in/camriemensnider/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/criemensnider' target='_blank') GitHub
        a.button.expanded(href='https://www.stackmoxie.com' target='_blank') Stack Moxie
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  